<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student-DateTime</title>
    <style>
        body {
            background-color: lightyellow;
            color:blue;
        }
    </style>
</head>
<body>
<h1>Hello from student Template File ....</h1>
<hr />
<h2>Server Date And Time is : {{ server_datetime }}</h2>
<h3>Server Date And Time is : {{ server_datetime2 }}</h3>
<hr />
<h3>Student-Details</h3>
<ol type="1">
    <li>Rollno : {{ rollno }}</li>
    <li>Name : {{ sname }}</li>
    <li>Marks : {{ marks }}</li>
</ol>
</body>
</html>